.v-select.my-select {
    .v-input__control {
        min-height: 30px !important;
        .v-select__slot {
            .v-select__selections {
                margin-right: -10px;
            }
        }
    }
}