
.section{
    height: 100%;
    font-family:inherit;
    font-style: normal;
    display: flex;
}
.nav{
    float: left;
    padding: 5px;
    color: white;
    width: 239px;
    height: auto;

}
.dash{
    display: flex;
    padding: 18px;
}
.dash .x{
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    margin-right: 7px;
    border-radius: 8px;
}
.img{
    padding: 7px 0 0 7px;
}
.elegant{
    font-weight: bold;
    font-size: 23px;
}
.dashboart{
    font-size: 8px;
    font-family: inherit;
    opacity: 0.8;
}


.line{
    width: 213px;
    height: 1px;
    opacity: 0.3;
    background-color: white;
    margin: 20px 0 20px 6px;
}
.board{
    display: flex;
    padding: 7px;
}
.board:hover{
    background-color: #0075F6;
    border-radius: 8px 0 0 8px;
}
.board:active{
    background-color: #0ed1f3;
    box-shadow: 1px 1px 10px 2px #0ed1f3;
    border-radius: 8px 0 0 8px;
}
.pic img{
    padding: 5px 11px 0 0;
}
.board .skin{
    font-size: 14px;
    line-height: 34px;
    opacity: 0.7;
    text-decoration: none;
    color: white;
    width: 181px;
}
.skin:hover{
    opacity: 1;
}
.system{
    font-size: 12px;
    line-height: 34px;
}
.admin{
    background-color: rgba(255, 255, 255, 0.1);
    width: 220px;
    height: 67px;
    text-align: center;
    padding: 12px;
    margin-top: 100%;
    border-radius: 10px;
    font-family:inherit;
    font-style: normal;
    display: flex;
}
.admin:hover{
    box-shadow: 1px 1px 10px 2px #0ed1f3;
    background-color: #0ed1f3;
    color: black;
}
.admin .img1{
    height: 45px;
    width: 45px;
    background-color: #ffffff;
    border-radius: 50%;
}
.admin .elegant1 {
    font-size: 18px;
    font-family: inherit;
    margin-left: -4px;
}
.admin .dashboard{
    font-size: 8px;
    font-family: inherit;
    opacity: 0.8;
    margin-left: 9px;
}


.header{
    background-color: #ffffff;
}
.search{
    display: flex;
    height: 34px;
}
.search .img{
    background-color:#EFF2F9;
    border-radius: 5px 0 0 5px;
}
.input{
    background-color:#EFF2F9;
    color: black;
    padding:4px;
    border: none;
    font-size: 14px;
    line-height: 34px;
    height: 34px;
    border-radius: 0 5px 5px 0;
}
.ic{
    font-size: 14px;
}
.art{
    background-color: #EFF2F9;
    height:883px;
    width: 1099px;
    overflow: scroll;
    margin-left: auto;
}
.art .add{
    display: flex;
    padding: 15px;
}
.Extentions{
    margin-right: 72.4%;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}
.AddBtn{
    background-color: #2C49C8;
    color: white;
    border-radius: 5px;
    padding: 6px;
    border: none;
    margin-left: 10px;
}
.AddBtn:hover{
    background-color: #0075F6;
}
.AddBtn:active{
    box-shadow: 1px 1px 5px 2px #0ed1f3;
    background-color: #0ed1f3;
    color: black;
}



.cards {
    max-width: 1059px;
}
.card{
    background-color: white;
    width: 300px;
    height: 165px;
    padding: 11px;
    margin: 12px 20px 12px 20px;
    border-radius: 9px;
    box-shadow: 0 0 9px 1px #cacdd0;

}
.card .btn{
    float: right;
    background-color: #EFF2F9;
    color: cornflowerblue;
    border-radius: 20px;
    padding: 0 13px 0 13px;
    border: none;
    font-size: 16px;
}
.card .btn:hover{
     background-color: #6495ED;
     color: #ffffff;
 }
.card .btn:active{
    background-color: #79AAFF;
    color: #ffffff;
    box-shadow: 1px 1px 10px 2px #79AAFF;
}

.cIcon{
    width: 45px;
    height: 45px;
    border-radius: 4px;
    border:1px solid #F5F5F5;
}
.cIcon img {
    padding: 7px 0 0 7px;
}
.card h4{
    padding: 10px;
    font-size: 14px;
}
.card .text{
    line-height: 20px;
    font-size: 14px;
    color: #747474;
}
.card .hr{
    width: 294px;
    height: 1px;
    margin: 6px 0 7px 0;
    background-color: #ecebeb;
    border: none;
}
.card .Btnn{
    background-color: white;
    border-radius: 3px;
    float: right;
    margin-right: 5px;
    padding: 0 13px 0 13px;
    border: 1px solid #ecebeb;
    font-size: 14px;
    line-height: 24px;
}
.card .delete{
    color: rgb(248, 78, 78);
}
.card .delete:hover{
     background-color: #F85C74;
     color: white;
 }
.card .disable{
    color: #D6D7E3;
}
.card .disable:hover{
    background-color: #6495ED;
    color: white;
}


.footer{
    background-color:#e3e6ec;
    padding: 15px;
    display: flex;
    margin: 0;
}
.footer .address{
    font-size: 12px;
    line-height: 24px;
    color: #B9B9B9;
    margin-right: 49%;
}
.footer .about{
    font-size: 12px;
    line-height: 24px;
    color: #B9B9B9;
    margin:0 1% 0 1%;
}