<template>
  <div>
    <v-card color="primary">
      <v-card-title>Actions</v-card-title>
      <v-card-text>
        <div class="n-page d-flex pa-3">
          <v-btn color="kuk" class="mr-3" @click="a++">+</v-btn>
          <v-btn color="kuk" class="mr-4" @click="a=0">C</v-btn>
          <p class="line-text teal ftz-17 py-2 px-3 mr-4 mb-0">Kilometr={{a}}</p>
          <p class="line-text teal ftz-17 py-2 px-3 mb-0">Metr={{Km()}}</p>
        </div>
        <div class="yashil">
          <div class="post-item py-5 px-10">
            <v-btn dark @click="openCreate">Create</v-btn>
          </div>


          <h3>events</h3>
          <table class="table">
            <tr>
              <th>name</th>
              <th>address</th>
              <th>number</th>
              <th>control</th>
            </tr>
            <tr v-for="(item, index) in list" :key='index'>
              <td class="td">{{item.name }}</td>
              <td class="td">{{item.email}}</td>
              <td class="td">{{item.phone }}</td>
              <td class="td">
                <v-btn type="button" @click="openEdit(item)">Edit</v-btn>
                <v-btn type="button" @click="deleteItem(item.id)" class="con-btn" style="background-color: #F85C74; margin: 3px; font-family: monospace;">delete</v-btn>
              </td>
            </tr>
          </table>
        </div>
      </v-card-text>
    </v-card>
    <v-dialog v-model="dialog" width="500">
      <div>
        <v-form v-model="form" ref="formEl" @submit.prevent="saveData">
          <v-card>
            <v-card-title class="text-h5 grey lighten-2">{{updateObj.id ? 'Update: ' + updateObj.name : 'Create new'}}</v-card-title>
            <v-card-text class="pt-2">
              <div>
                <v-text-field label="Name" outlined v-model="addName" :rules="nameRules"></v-text-field>
              </div>
              <div>
                <v-text-field label="Email" outlined v-model="addAddress" :rules="adresRules"></v-text-field>
              </div>
              <div>
                <v-text-field label="Phone" outlined v-model="addNumber"></v-text-field>
              </div>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="accent" text type="button" @click="closeDialog">Cancel</v-btn>
              <v-btn color="primary" text type="submit">{{ updateObj.id ? 'Update' : 'Create' }}</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </div>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Actions",
  data: () => {
    return{
      list: [],
      dialog: false,
      form: false,
      updateObj: {},
      addName:'',
      addAddress:'',
      addNumber:'',
      nameRules: [
          v => !!v || 'Name can not be empty',
          v => (!!v && v.length >= 3) || 'Name should be contain minimum 3 characters'
      ],
      adresRules: [
          v => !!v || 'Address can not be empty'
      ],
      Kilometers: '',
      Meters: '',
      a: 0,
    }
  },


  mounted() {
    this.getList()
  },
  methods:{
    getList() {
       return axios.get("https://jsonplaceholder.typicode.com/users")
        .then((resp) => {
          this.list = (resp.data && resp.data.length > 0) ? resp.data : []
        }).catch(e => {
          console.log(e)
          this.list = []
        });
    },
    patchData() {
      return axios.patch(`https://jsonplaceholder.typicode.com/users/${this.updateObj.id}`, {
        name: this.addName,
        email: this.addAddress,
        phone: this.addNumber
      })
    },
    createData(){
       return axios.post(`https://jsonplaceholder.typicode.com/users`, {
        name: this.addName,
        email: this.addAddress,
        phone: this.addNumber
      })
    },
    saveData() {
      if (this.form) {
        let request = this.updateObj.id ? this.patchData() : this.createData()
        request.then(res => {
          if (res.data && res.data.id) {
            this.closeDialog()
            this.getList().then(() => {
              console.log('Successfully updated')
            })
          } else {
            console.log('Something went wrong')
          }
        }).catch(e => {
          console.log(e)
        })
      } else {
        console.log('Validation error!')
      }
    },
    openCreate() {
      this.updateObj = {}
      this.addName = ''
      this.addAddress = ''
      this.addNumber = ''
      this.dialog = true
      this.$nextTick(() => {
        if (this.$refs.formEl) {
          this.$refs.formEl.reset()
        }
      })
    },
    openEdit(obj) {
      this.updateObj = obj
      this.addName = obj.name
      this.addAddress = obj.email
      this.addNumber = obj.phone
      this.dialog = true
    },
    closeDialog() {
      this.dialog = false
      this.updateObj = {}
    },

    deleteItem(id) {
      axios.delete(`https://jsonplaceholder.typicode.com/users/${id}`).then(response => {
        this.getList()
        console.log(response)
      });
    },

    // createdElementUser() {
    //   console.log(this.addName, this.addAddress, this.addNumber)
    //   let data = {
    //     name: this.addName,
    //     email: this.addAddress,
    //     phone: this.addNumber
    //   }
    //   axios.post("https://jsonplaceholder.typicode.com/users", data)
    //   if (this.name!== '' && this.address!== '' && this.number!== '')
    //     this.list.push(data);
    //   this.addName=''
    //   this.addAddress=''
    //   this.addNumber=''
    // },

    Km: function (){
      return this.a * 1000;
    },
  },
}
</script>

<style scoped>
  *{
    box-sizing: border-box;
  }
  .n-page{
    background-color: #79AAFF;
  }

  .con-btn{
    margin: 0 30px;
  }

  .post-item{
    background-color: rgba(116, 116, 116, 0.45);
  }
  .alert-input{
    background-color: rgba(126, 241, 220, 0.5);
    box-shadow: 0 0 2px 1px #6ad2b3;
    height: 34px;
  }

  .table{
    border: 1px solid black;
    box-shadow: 0 0 2px 1px;
    width: 100%;
  }
  .td{
    border: 1px solid black;
    border-radius: 4px;
    font-family: monospace;
  }
</style>
