<template>
  <div class="head">
    <div class="form">
      <div class="Welcome">Welcome back!</div>
      <div class="text">Sign in to your account to continue</div>
      <div class="card">
        <div class="main">
          <div class="email">Email</div>
          <input class="text1" type="text" placeholder="Enter your email">
          <div class="email">Password</div>
          <input class="text1" type="text" placeholder="Enter your password">
          <div class="forgot">Forgot your Password?</div>
          <div class="time">
            <input class="checkbox" type="checkbox">
            <div>Remember me next time</div>
          </div>
          <button class="btn2">Sign in</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CardPage"
  }
</script>

<style scoped>
  *{
    margin: 0;
    padding: 0;
    background-color:#F0F2FA;
    font-family: 'Inter', sans-serif;
}
  .head{
    height: 883px;
    margin: 0;
    padding: 0;
    background-color:#F0F2FA;
    font-family: 'Inter', sans-serif;
  }
.form{
    width: 400px;
    height: 480px;
    padding-top: 120px;
    margin: 0 0 0 34%;
    background-color:#F0F2FA;
}
.Welcome{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 1px;
    color: #171717;
}
.text{
    text-align: center;
    font-size: 14px;
    line-height: 34px;
    color: #767676;
}
.card{
    position:absolute;
    background-color: #ffffff;
    align-self: center;
    width: 400px;
    height: 390px;
    border-radius: 10px;
    box-shadow: 0 0  15px 1px gray;
}
.main{
    position: absolute;
    background-color: #ffffff;
    width: 340px;
    height: 330px;
    margin: 30px;
}
.main .email{
    background-color: #ffffff;
    font-size: 14px;
    line-height: 34px;
    font-weight: 550;
    color: #2b2a2a;
    padding: 5px 0;
    opacity: 0.9;
}
.main .text1{
    width: 322px;
    height: 34px;
    border: 0;
    border-radius:8px;
    padding: 6px 0 6px 15px;
    margin-left: 1px;
    font-size: 14px;
}
.main .forgot{
    background-color: #ffffff;
    color:#5887ff;
    font-size: 14px;
    margin: 24px 0;
    opacity: 0.9;
}
.main .time{
    display: flex;
    background-color: #ffffff;
    font-size: 14px;
    margin: 24.5px 0;
    padding: 0 0.5px;
}
.main .time .checkbox{
    margin: 2px 12px 0 0;
}
.main .time div{
    background-color: #ffffff;
    opacity: 0.7;
}

.btn2{
    background-color: #2f49d1;
    border: none;
    width: 340.5px;
    height: 44px;
    color: #ffffff;
    border-radius: 4px;
}
.btn2:hover{
  background-color: #4963EB;
}
.btn2:active{
  background-color: #2f49d1;
  box-shadow: 1px 1px 5px 1px #2f49d1;
}
</style>
