<template>
<div class="ma-5 yashil2 pa-3">
  <h3 class="ma-3">DashboardPage</h3>  
  
  <v-dialog v-model="dialog1" max-width="500px" > 
    <template v-slot:activator = "{on, attrs}"> 
      <v-btn class="ma-3" v-bind="attrs" v-on="on">create</v-btn>
    </template>
      <v-card>
        <v-card-title>
            add card
        </v-card-title> 
        <v-card-text>
            <v-text-field outline label="card name" v-model="cName" :rules="cNameRules"></v-text-field>
            <v-text-field outline label="about" v-model="cAbout" :rules="cAboutRules"></v-text-field>
            <v-text-field outline label="card number" v-model="cNumber" :rules="cNumberRules"></v-text-field>
        </v-card-text>
          <v-card-actions class="button-box">
            <v-btn color="grey"  @click="dialog1 = false">back</v-btn>
            <v-btn color="blue" @click="cardAdd">create</v-btn>
          </v-card-actions> 
        </v-card>
  </v-dialog>
  <v-row>
    <v-col cols="12" sm="12" md="6" lg="4" xl="3" v-for="card in cards" :key='card.index'>
      <v-card class="pa-5 my-0 mx-auto tablecard">
        <div>{{ card.cardName }}</div>
        <div class="py-5">{{card.about}}</div>
        <div>{{card.number}}</div>
      </v-card>
    </v-col>
  </v-row>
  
</div>
</template>
  
<script>

export default {

  name: "DashboardPage",

  data: () => {
    return{
      dialog1: false,
      cName: '',
      cAbout: '',
      cNumber: '',
      cards: [
        {cardName:'UZCARD', about:'address', number:'8600 1309 0000 0000'},
      ],
      cNameRules:[  
        v=>(!!v && v.length >= 3 && v.length<=15 ) || '3tadan ko\'p yoki 15tadan kam bo\'lsin'
      ],
      cAboutRules:[],
      cNumberRules:[]
    }
  },
  mounted() {
  },
  methods: {
    cardAdd() {
      if (this.cardName !=='' && this.about!=='' && this.number!=='')
     this.cards.push({cardName: this.cName, about: this.cAbout, number: this.cNumber})
     this.cName = ''
     this.cAbout = ''
     this.cNumber = ''
     this.dialog1 = false
    },
  }
};
</script>

<style scoped>
  .tablecard{
    width: 303px;
    height: 153px;
  }
</style>
