<template>
  <article class="art">
    <div class="add">
      <h1 class="Extentions">Extentions</h1>

      <button @click="createCard" class="AddBtn" >+add new</button>

    </div>
    <v-row class="margin-0" >
      <MCard v-for="(cardItem, i) in cardList" :key="i" :card="cardItem" v-model="cardList"></MCard>
    </v-row>
  </article>
</template>

<script>
import MCard from "@/components/MCard";

export default {
  name: "mainPage",
  data: () => {
    return {
      cardList: [
        {
          id: 1,
          status: 0,
          name: 'English',
          title: 'Lorem ipsum dolor sit amet, title 1.',
          disable: 'Disable',
          delete: 'Delete'
        },
        {
          id: 2,
          status: 1,
          name: 'Russian',
          title: 'Lorem ipsum dolor sit amet, title 2.',
          disable: 'Disable',
          delete: 'Delete'
        },
      ]
    }
  },
  methods: {
    createCard: function (){
      this.cardList.push({id: 2,
          status: 1,
          name: 'Russian',
          title: 'Lorem ipsum dolor sit amet, title 2.',
          disable: 'Disable',
          delete: 'Delete'})
    }
  },

  components: {MCard}
}
</script>
<style scoped>
.margin-0 {
  margin: 0;
}
</style>
