<template>
<div>
  <h1>post page</h1>
  
  <v-progress-circular indeterminate color="yashil2"></v-progress-circular>
  <div>
    <v-menu >
      <template v-slot :activator="{ on, attrs }">
        <v-btn color="primary" dark v-bind="attrs" v-on="on">
            lang
        </v-btn>
      </template>
      <v-list>
        <v-list-item v-for="(item, index) in items" :key="index">
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</div>
</template>

<script>
export default {
  name: "postsPage",
  data: () => {
    return {
      items: [
        { title: 'uzb' },
        { title: 'rus' },
        { title: 'eng' },
      ],
    }
  },
}
</script>

<style scoped>

</style>
