<template>
 <div>
    <section class="section">

      <div>
        <article class="art">
          <h1 class="Extentions">All comments</h1>

          <div class="part1">
            <input class="input2" type="text" placeholder="Search">
            <img class="images"  src="@/assets/magnifying-glass.png" alt="">
            <select class="cont1"  id="">
              <option value="All dates">All dates</option>
              <option value="Date 1">Date 1</option>
              <option value="Date 2">Date 2</option>
            </select>
            <select class="cont1"  id="">
              <option value="Status">Status</option>
              <option value="Status 1">Status 1</option>
              <option value="Status 2">Status 2</option>
            </select>
          </div>

          <table class="table">
            <tr class="tr0">
              <td><input type="checkbox"></td>
              <td><img src="" alt=""></td>
              <td>Author</td>
              <td>Comment</td>
              <td>Commented in</td>
              <td>Date</td>
              <td>Status</td>
              <td>Action</td>
            </tr>
            <tr class="tr1">
              <td><input type="checkbox"></td>
              <td><img src="" alt=""></td>
              <td>Marvin McKinney</td>
              <td>Tellus integer feugiat scelerisque varius morbi enim nunc faucibus.</td>
              <td>Tips and Tricks</td>
              <td>17.04.2021</td>
              <td><button class="Pending">Pending</button></td>
              <td>...</td>
            </tr>
            <tr class="tr1">
              <td><input type="checkbox"></td>
              <td><img src="" alt=""></td>
              <td>Island Trading</td>
              <td>Tellus integer feugiat scelerisque varius morbi enim nunc faucibus.</td>
              <td>Tips and Tricks</td>
              <td>17.04.2021</td>
              <td><button class="btn3">Answered</button></td>
              <td>...</td>
            </tr>
            <tr class="tr1">
              <td><input type="checkbox"></td>
              <td><img src="" alt=""></td>
              <td>Theresa Webb</td>
              <td>Tellus integer feugiat scelerisque varius morbi enim nunc faucibus.</td>
              <td>Tips and Tricks</td>
              <td>17.04.2021</td>
              <td><button class="btn3">Answered</button></td>
              <td>...</td>
            </tr>
            <tr class="tr1">
              <td><input type="checkbox"></td>
              <td><img src="" alt=""></td>
              <td>Guy Hawkins</td>
              <td>Tellus integer feugiat scelerisque varius morbi enim nunc faucibus.</td>
              <td>Tips and Tricks</td>
              <td>17.04.2021</td>
              <td><button class="btn3">Answered</button></td>
              <td>...</td>
            </tr>
            <tr class="tr1">
              <td><input type="checkbox"></td>
              <td><img src="" alt=""></td>
              <td>Alfreds Futterkiste</td>
              <td>Tellus integer feugiat scelerisque varius morbi enim nunc faucibus.</td>
              <td>Tips and Tricks</td>
              <td>17.04.2021</td>
              <td><button class="btn3">Answered</button></td>
              <td>...</td>
            </tr>
            <tr class="tr1">
              <td><input type="checkbox"></td>
              <td><img src="" alt=""></td>
              <td>Guy Hawkins</td>
              <td>Tellus integer feugiat scelerisque varius morbi enim nunc faucibus.</td>
              <td>Tips and Tricks</td>
              <td>17.04.2021</td>
              <td><button class="Trashed">Trashed</button></td>
              <td>...</td>
            </tr>
            <tr class="tr1">
              <td><input type="checkbox"></td>
              <td><img src="" alt=""></td>
              <td>Alfreds Futterkiste</td>
              <td>Tellus integer feugiat scelerisque varius morbi enim nunc faucibus.</td>
              <td>Tips and Tricks</td>
              <td>17.04.2021</td>
              <td><button class="btn3">Answered</button></td>
              <td>...</td>
            </tr>
            <tr class="tr1">
              <td><input type="checkbox"></td>
              <td><img src="" alt=""></td>
              <td>Wade Warren</td>
              <td>Tellus integer feugiat scelerisque varius morbi enim nunc faucibus.</td>
              <td>Tips and Tricks</td>
              <td>17.04.2021</td>
              <td><button class="btn3">Answered</button></td>
              <td>...</td>
            </tr>
            <tr class="tr1">
              <td><input type="checkbox"></td>
              <td><img src="" alt=""></td>
              <td>Wade Warren</td>
              <td>Tellus integer feugiat scelerisque varius morbi enim nunc faucibus.</td>
              <td>Tips and Tricks</td>
              <td>17.04.2021</td>
              <td><button class="btn3">Answered</button></td>
              <td>...</td>
            </tr>
          </table>

          <div class="lists">
            <div class="back"><img class="pics " src="@/assets/left-2-50.png" alt=""></div>
            <div class="num">1</div>
            <div class="num">2</div>
            <div class="num">3</div>
            <div class="num">4</div>
            <div class="num">5</div>
            <div class="num">...</div>
            <div class="num">10</div>
            <div class="next"><img class="pics " src="@/assets/right-2-50.png" alt=""></div>
          </div>
        </article>

      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "tablePage"
}
</script>

<style scoped>
*{
    margin: 0;
    padding: 0;
}
.section{
    height: 883px;
    font-style: normal;
}
.pic img{
    padding: 5px 11px 0 0;
}



.art{
    background-color: #EFF2F9;
    height: 100%;
    margin-left: 10px;
}
.Extentions{
    font-size: 24px;
    font-weight: bold;
    padding: 30px 30px 30px 62px;
    letter-spacing: 1px;
}
.part1{
    display: flex;
    border-collapse: collapse;
    font-size: 12px;
    width: 93.7%;
    margin-left: 4.5%;
    padding: 19px;
    background-color: #ffffff;
    border-radius: 13px 13px 0 0;
}
.input2 {
    background-color: #EFF2F9;
    padding: 6px;
    border: none;
    border-radius: 5px 0 0 5px;
}
.images{
    background-color: #EFF2F9;
    width: 37px;
    height: 40px;
    margin-right: 37%;
    border-radius: 0 5px 5px 0;
}
.cont1{
    padding: 6px 50px 6px 7px;
    margin-left: 13px;
    border-color: #B9B9B9;
    color: #B9B9B9;
    border-radius: 5px;
}
.cont1:active{
  background-color: #EFF2F9;
}


.table{
    border-collapse: collapse;
    font-size: 12px;
    width: 94%;
    margin-left: 4.5%;
}
.tr0{
    padding: 5px;
}
.table .tr1{
    background-color: #ffffff;
    border: 2px solid #EFF2F9;
    padding: 5px;
}
.table td{
    color: #767676;
    line-height: 140%;
    padding: 13px;
}
.btn3{
    border: none;
    border-radius: 14px;
    background-color: #EEF3FF;
    width: 79px;
    height: 22px;
    font-size: 12px;
    line-height: 20px;
    color: #5887FF;
}
.btn3:active{
  background-color: #D8DDE9;
}
.Pending{
    border: none;
    border-radius: 14px;
    background-color: #FFF7EB;
    width: 79px;
    height: 22px;
    font-size: 12px;
    line-height: 20px;
    color: #FFB648;
}
.Pending:active {
  background-color: #D8DDE9;
}
.Trashed{
    border: none;
    border-radius: 14px;
    background-color: #FEEFEF;
    width: 79px;
    height: 22px;
    font-size: 12px;
    line-height: 20px;
    color: #F26464;
}
.Trashed:active {
  background-color: #D8DDE9;
}


.lists{
    display: flex;
    justify-content: right;
    margin: 24px 104px 0 0;
}
.pics{
    width:27px;
    height: 27px;
    margin: 8px;
}
.back{

    width: 44px;
    height: 44px;
    border-radius: 5px;
    background-color: #DDE1F6;
}
.next{
    width: 44px;
    height: 44px;
    border-radius: 5px;
    background-color:#2F49D1;
}
.num{
    margin: 14px 10px 0 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #28293D;
    opacity: 0.7;
}

</style>
