<template>
 <div>
   <div class="element">
     <div class="dick">
       <div><button @click="showText = !showText" class="btn4">click me</button></div>
       <div class="textbox" v-if="showText">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
         cupiditate doloribus voluptatum! Aspernatur aut
         beatae culpa cum dolore expedita facere fuga
         in iure, magnam mollitia nemo odio omnis porro similique?
       </div>
       <div class="textbox" v-else>
         <v-btn class="v-btn1">create</v-btn>
       </div>
     </div>

         <v-btn
             style="background-color: #0ed1f3; margin: 10px; width: 170px"
             color="blue"
             class="ma-2"
         >
           Slide
         </v-btn>

     <div>
       <v-alert  v-model="alert"
                close-text="Close Alert"
                class="v-alert"
                style="background-color: blanchedalmond">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
       </v-alert>
       <div class="text-center">
         <v-btn
             align="center"
             class="v-alert"
             v-if="!alert"
             color="deep-purple accent-4"
             style="background-color: #2b2a2a"
             @click="alert = true"
         >
           Reset
         </v-btn>
       </div>
     </div>


     <div>
       <div class="product">
         <div>
           <input class="input1" type="text" v-model="addTitle" placeholder="title">
           <input class="input1" type="number" v-model="addPrice" placeholder="price">
           <button class="btn5" @click="createProduct"> Add</button>
           <div  class="ul1" v-for="ingredient in freeIngredient" :key="ingredient.index" >
             <div class="title">{{ ingredient.title }}</div>
             <div class="price">{{ ingredient.price }}</div>
           </div>
         </div>

         <div>
           <input class="input2" type="number" v-model="moreNum"  placeholder="0 dan kichik">
           <div class="ul1" v-for="ingredient in moreNumberIngredient" :key='ingredient.index'>
             <div class="title">{{ ingredient.title }}</div>
             <div class="price">{{ ingredient.price }}</div>
           </div>
         </div>

         <div>
           <input class="input2" type="number" v-model="lessNum"  placeholder="0 dan katta">
           <div class="ul1" v-for="ingredient in lessNumberIngredient" :key="ingredient.index">
             <div class="title">{{ ingredient.title }}</div>
             <div class="price">{{ ingredient.price }}</div>
           </div>
         </div>

         <div>
           <div class="ingredients" v-for="ingredient in ingredients" :key='ingredient.index'>
             <div class="title">{{ ingredient.title }}</div>
             <div class="price">{{ ingredient.price }}</div>
           </div>
         </div>
       </div>
      </div>

     <div class="name">
       {{getName()}}
       <br>
     </div>
     <br>
     {{ Name }}
   </div>


 </div>
</template>

<script>

export default {
  name: "tester",
  data: () =>{
    return{
      alert:true,
      showText: true,
      newMovie: '',
      addTitle: '',
      addPrice: '',
      moreNum: '',
      lessNum: '',
      movies: ['Batman','Spiderman','Superman'],
      ingredients: [
        {title: 'Apple', price: 0.95 },
        {title: 'Fig', price: 1.49 },
        {title: 'Apricot', price: 1.49 },
        {title: 'Plum', price: 1 },
        {title: 'Strawberry', price: 0.79 },
        {title: 'Raspberry', price: 2.99 },
        {title: 'Blueberry', price: 1.94 },
        {title: 'Banana', price: 0.9 },
      ],

      Firstname: 'John',
      Lastname: 'Doe'
    }
  },
  computed: {
    Name() {
      return this.Firstname + ' ' + this.Lastname;
    },
    freeIngredient() {
      return this.ingredients.filter(ingredient => ingredient.price <= 1);
    },
    moreNumberIngredient () {
      return this.ingredients.filter(ingredient => ingredient.price <= this.moreNum)
    },
    lessNumberIngredient () {
      return this.ingredients.filter(ingredient => ingredient.price > this.lessNum)
    },
  },
  methods: {
    createProduct() {
      if(this.addTitle !== '' && this.addPrice !== '')
        this.ingredients.push({title:this.addTitle, price:this.addPrice});
      this.addTitle = ''
      this.addPrice = ''
    },
    addMovie() {
      if(this.newMovie !== '')
      this.movies.push(this.newMovie);

      this.newMovie = '';
    },
    getName() {
      return this.Firstname + ' ' + this.Lastname;
    },
  },
}
</script>

<style scoped>
  .dick{
    display: flex;
  }
  .element{
    background-color: #E3E6EC;
    border-radius: 5px;
    margin: 40px;
  }
  .btn4{
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: #0ED1F3;
    border-radius: 2px;
    margin: 10px;
    border: none;
    padding: 4px;
  }
  .btn4:active{
    background-color: #2b2a2a;
    color: white;
  }
  .textbox{
    align-items: center;
    margin: 10px;
    padding: 4px;
    border-radius: 0 4px 4px 4px;
    width: 90%;
    background-color: #ee7f7f;
    font-family: 'Inter', sans-serif;
    display: flex;
  }
  .input1{
    font-family: 'Inter', sans-serif;
    padding: 4px;
    margin: 10px;
    border: none;
    width: 39.3%;
    background-color: white;
  }
  .input2{
    font-family: 'Inter', sans-serif;
    padding: 4px;
    margin: 10px;
    border: none;
    width: 89%;
    background-color: white;
  }
  .btn5{
    font-family: 'Inter', sans-serif;
    margin: 2px;
    background-color: #4d5bf3;
    color: #0ed1f3;
    border: none;
    padding: 4px;
    border-radius: 4px;
  }
  .btn5:active{
    background-color: #2b2a2a;
    color: white;
  }
  .ul{
    margin: 10px 10px;
    font-family: 'Inter', sans-serif;
    padding: 10px 10px 10px 40px;
    background-color: white;
    width: 44%;

  }
  .ul1{
    display: flex;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    padding: 10px 10px 10px 20px;
    background-color: white;
    color: #4D5BF3;
  }
  .product{
    display: flex;
    font-family: 'Inter', sans-serif;
    color: red;
  }
  .ingredients{
    font-family: 'Inter', sans-serif;
    background-color: white;
    width: 251px;
    display: flex;
    padding: 5px;
    margin: 10px;
  }
  .price{
    margin-left: auto;
  }

  .name{
    padding: 10px;
  }
  .v-alert{
    margin: 10px;
  }
  .v-btn1{
    margin: 20px;
  }
</style>
