<template>
  <header class="header ftz-14 d-flex px-3 py-3">
    <div class="search">
      <img class="img" src="@/assets/magnifying-glass.png" alt="">
      <input class="input" type="text" placeholder="Enter keywords...">
    </div>
    <v-spacer></v-spacer>
    <div style="width: 80px">
      <v-select :items="items" label="lang" solo v-model="selectedLang" dense flat hide-details single-line class="my-select">
      </v-select>
    </div>
    <div class="mr-3"><img src="@/assets/speech.png" alt=""></div>
    <div class="mr-3"><img src="@/assets/speech.png" alt=""></div>
    <div>
      <v-btn color="white2" small @click="changeMode"> mode: {{ $store.getters.getPageMode }} </v-btn>
    </div>
  </header>
</template>

<script>
export default {
  name: "HeaderTop",
  data: () => {
   return{
     selectedLang: 'uz',
     items: [
       {value: 'uz', text: "Uzb"},
       {value: 'ru', text: "Рус"},
       {value: 'en', text: "Eng"},
     ]
   } 
  },
  created() {
    let mode = window.localStorage.getItem('mode')
    this.$vuetify.theme.dark = mode === '1'
    this.$store.commit('pageMode', mode === '1' ? 'dark' : 'light')
  },
  methods: {
    changeMode() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
      window.localStorage.setItem('mode', this.$vuetify.theme.dark ? '1' : '0')
      this.$store.commit('pageMode', this.$vuetify.theme.dark ? 'dark' : 'light')
    }
  }
}
</script>

<style scoped>
</style>
