<template>
<nav class="nav navbg">
      <ul class="pl-0">
        <div class="dash">
          <div class="x">
            <img class="img" src="@/assets/icons8-settings-30.png" alt="">
          </div>
          <div>
            <div class="elegant">Elegant</div>
            <div class="dashboart">Dashboard</div>
          </div>
        </div>
        <div class="line"></div>
        <div>
          <div class="board">
            <div class="pic"><img src="@/assets/instagram.png" alt=""></div>
            <div class="skin"><router-link :to="{name: 'DashboardPage'}" class="url-skin0">Dashboard</router-link></div>
          </div>
          <div class="board">
            <div class="pic"><img src="@/assets/instagram.png" alt=""></div>
            <div class="skin"><router-link :to="{name:'postsPage'}" class="url-skin1">Posts</router-link></div>
          </div>
          <div class="board">
            <div class="pic"><img src="@/assets/instagram.png" alt=""></div>
            <div class="skin"><router-link  :to="{name:'Actions'}" class="url-skin2">Actions</router-link></div>
          </div>
          <div class="board">
            <div class="pic"><img src="@/assets/instagram.png" alt=""></div>
            <div class="skin"><router-link :to="{name:'tester'}" class="url-skin3">Tester</router-link></div>
          </div>
          <div class="board">
            <div class="pic"><img src="@/assets/instagram.png" alt=""></div>
            <div class="skin"><router-link :to="{name:'mainPage'}" class="url-skin4">Extentions</router-link></div>
          </div>
          <div class="board">
            <div class="pic"><img src="@/assets/instagram.png" alt=""></div>
            <div class="skin"><router-link :to="{name:'tablePage'}" class="url-skin5">Tables</router-link></div>
          </div>
          <div class="board  system">SYSTEM</div>
          <div class="board">
            <div class="pic"><img src="@/assets/instagram.png" alt=""></div>
            <div class="skin"><router-link :to="{name:'CardPage'}" class="url-skin6">Card</router-link></div>
          </div>
          <div class="board">
            <div class="pic"><img class="address" src="@/assets/instagram.png" alt=""></div>
            <div class="skin"><router-link :to="{name:'ExtentionsPage'}" class="url-skin7">Extentions </router-link></div>
          </div>
          <div class="board">
            <div class="pic"><img src="@/assets/instagram.png" alt=""></div>
            <div class="skin"><router-link :to="{name:'usersPage'}" class="url-skin8">Users</router-link></div>
          </div>
          <div class="board">
            <div class="pic"><img src="@/assets/instagram.png" alt=""></div>
            <div class="skin"><router-link :to="{name:'settingsPage'}" class="url-skin9">Settings</router-link></div>
          </div>
        </div>
        <div class="admin">
          <div>
            <img class="img1" src="@/assets/girl-48.png" alt="">
          </div>
          <div>
            <div class="elegant1">Nafisa Sh.</div>
            <div class="dashboard">Support manager</div>
          </div>
        </div>
      </ul>
    </nav>
</template>

<script>
export default {
  name: "LeftMenu",
  }
</script>

<style scoped>
.url-skin0{
  padding: 10px 119px 10px 3px;
  font-size: 14px;
  line-height: 34px;
  opacity: 0.7;
  text-decoration: none;
  color: white;
  width: 175px;
}
.url-skin1{
  padding: 10px 150px 10px 3px;
  font-size: 14px;
  line-height: 34px;
  opacity: 0.7;
  text-decoration: none;
  color: white;
  width: 175px;
}
.url-skin2{
  padding: 10px 139px 10px 3px;
  font-size: 14px;
  line-height: 34px;
  opacity: 0.7;
  text-decoration: none;
  color: white;
  width: 181px;
}
.url-skin3{
  padding: 10px 149px 10px 3px;
  font-size: 14px;
  line-height: 34px;
  opacity: 0.7;
  text-decoration: none;
  color: white;
  width: 181px;
}
.url-skin4{
  padding: 10px 121px 10px 3px;
  font-size: 14px;
  line-height: 34px;
  opacity: 0.7;
  text-decoration: none;
  color: white;
  width: 181px;
}
.url-skin5{
  padding: 10px 146px 10px 3px;
  font-size: 14px;
  line-height: 34px;
  opacity: 0.7;
  text-decoration: none;
  color: white;
  width: 181px;
}
.url-skin6{
  padding: 10px 155px 10px 3px;
  font-size: 14px;
  line-height: 34px;
  opacity: 0.7;
  text-decoration: none;
  color: white;
  width: 181px;
}
.url-skin7{
  padding: 10px 120px 10px 3px;
  font-size: 14px;
  line-height: 34px;
  opacity: 0.7;
  text-decoration: none;
  color: white;
  width: 181px;
}
.url-skin8{
  padding: 10px 148px 10px 3px;
  font-size: 14px;
  line-height: 34px;
  opacity: 0.7;
  text-decoration: none;
  color: white;
  width: 181px;
}
.url-skin9{
  padding: 10px 135px 10px 3px;
  font-size: 14px;
  line-height: 34px;
  opacity: 0.7;
  text-decoration: none;
  color: white;
  width: 181px;
}
</style>
