<template>
  <div class="card" v-if="HideCard" >

      <button :class="card.status ? 'btn' : 'btn delete'">{{ card.status ? 'Active' : 'Disabled' }}</button>

    <div class="cIcon"><img src="@/assets/icons8-settings-30.png" ></div>
    <h4>{{ card.name }}</h4>
    <div>
      <div class="text">{{ card.title }}</div>
    </div>

    <hr class="hr">
    <button @click="HideCard = !HideCard" class="Btnn delete">{{ card.delete }}  </button>
    <button class="Btnn disable">{{ card.disable }}</button>



  </div>

</template>

<script>
export default {
  data()  {
    return {
      HideCard: true,
    }
  },
  name: "MCard",
  methods:{
  },
  props: {
    card: Object
  }

}
</script>

<style scoped>

</style>
