<template>
<footer class="footer">
        <div class="address">2021 © Elegant Dashboard - elegant-dashboard.com</div>
        <div class="about">About</div>
        <div class="about">Support</div>
        <div class="about">Puchase</div>
      </footer>
</template>

<script>
export default {
  name: "footer.vue"
}
</script>

<style scoped>

</style>
