<template>
  <v-app>
    <v-main>
      <div class="section">
          <left-menu></left-menu>
          <div class="pa-3" style="width: calc(100% - 239px)">
            <header-top></header-top>
            <div>
              <router-view></router-view>
            </div>
            <Vfooter></Vfooter>
          </div>
      </div>
    </v-main>
  </v-app>
</template>

<script>


import LeftMenu from "@/components/LeftMenu";
import HeaderTop from "@/components/HeaderTop";
import Vfooter from "@/components/Vfooter";
export default {
  name: 'App',
  components: { LeftMenu, HeaderTop,Vfooter
  },

  data: () => ({
    //
  }),

};
</script>
